<header>
    <nav class="navbar navbar-expand navbar-dark bg-dark">
        <div class="navbar-nav">
            <a class="nav-item nav-link" routerLink="/">Home</a>
            <a class="nav-item nav-link" routerLink="/products" *ngIf="isLogged">Products</a>
            <a class="nav-item nav-link" routerLink="/my-account" *ngIf="isLogged">My Account</a>
            <a class="nav-item nav-link" (click)="logout()" *ngIf="isLogged">Logout</a>
            <a class="nav-item nav-link" (click)="login()" *ngIf="!isLogged">Login</a>
        </div>
    </nav>
</header>