.ftco-footer {
    font-size: 14px;
    padding: 7em 0;
    color: #000000;
}

.ftco-footer .ftco-footer-logo {
    text-transform: uppercase;
    letter-spacing: .1em;
}

.ftco-footer .ftco-footer-widget h2 {
    font-weight: normal;
    margin-bottom: 20px;
    font-size: 16px;
    font-weight: 500;
}

.ftco-footer .ftco-footer-widget ul li {
    font-size: 14px;
    margin-bottom: 0px;
}

.ftco-footer .ftco-footer-widget ul li a {
    color: #000000;
}

.ftco-footer .ftco-footer-widget .btn-primary {
    border: 2px solid #fff !important;
}

.ftco-footer .ftco-footer-widget .btn-primary:hover {
    border: 2px solid #fff !important;
}

.ftco-footer-social li {
    list-style: none;
    margin: 0 10px 0 0;
    display: inline-block;
}

.ftco-footer-social li a {
    height: 50px;
    width: 50px;
    display: block;
    float: left;
    background: rgba(0, 0, 0, 0.02);
    border-radius: 50%;
    position: relative;
}

.ftco-footer-social li a span {
    position: absolute;
    font-size: 26px;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    color: #000000;
}

.ftco-footer-social li a:hover {
    color: #000000;
}

.ftco-section {
    padding: 6em 0;
    position: relative;
}

.block-23 ul {
    padding: 0;
}

.block-23 ul li, .block-23 ul li>a {
    display: table;
    line-height: 1.5;
    margin-bottom: 15px;
}

.block-23 ul li .icon, .block-23 ul li .text {
    padding-left: 25px;
    display: table-cell !important;
}

.block-23 ul li .icon {
    width: 40px;
    font-size: 18px;
    padding-top: 2px;
}

.mouse {
    position: absolute;
    left: 0;
    right: 0;
    top: -30px;
    z-index: 99;
}

.mouse-icon {
    width: 60px;
    height: 60px;
    border: 1px solid rgba(255, 255, 255, 0.7);
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    border-radius: 50%;
    background: #82ae46;
    cursor: pointer;
    position: relative;
    text-align: center;
    margin: 0 auto;
    display: block;
}

.mouse-wheel {
    height: 30px;
    margin: 2px auto 0;
    display: block;
    width: 30px;
    background: transparent;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    border-radius: 50%;
    -webkit-animation: 1.6s ease infinite wheel-up-down;
    -moz-animation: 1.6s ease infinite wheel-up-down;
    animation: 1.6s ease infinite wheel-up-down;
    color: #fff;
    font-size: 20px;
}