body {
    font-family: "Poppins", Arial, sans-serif;
    background: #fff;
    font-size: 15px;
    line-height: 1.8;
    font-weight: 400;
    color: gray;
}

.bg-light {
    background-color: #f8f9fa !important;
}

.list-unstyled {
    padding-left: 0;
    list-style: none;
}