<div class="card">
    <img *ngIf="product.imageUrl" [src]="product.imageUrl" alt="{{product.title}}" class="card-img-top">
    <div class="card-body">
        <h5 class="card-title">{{ product.title }}</h5>
        <p class="card-text">{{ product.price | currency:'BRL':true }}</p>
    </div>
    <!-- <div class="card-footer" *ngIf="showActions && shoppingCart">
        <button *ngIf="shoppingCart.getQuantity(product) === 0; else updateQuantity" (click)="addToCart()" class="btn btn-primary">Add to Cart</button>
    </div> -->
</div>